/* @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
 */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e4ad88;
  border: solid 1px black;
}

h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bolder;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 19px;
  font-size: 16px;
  font-family: inherit;
  background-color: #b35d3ce7;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.product-card {
  border: solid 3px #b35d3ce7;
  border-radius: 16px;
  border-style: ridge;
  padding: 10px 30px;
  margin: 30px;
  background-color: bisque;
  max-width: 250px;
}

.card-img {
  width: 250px;
  height: 250px;
}

.product-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cartCount {
  border: solid 1px #646cff;
  width: 32px;
  height: 14px;
  border-radius: 100%;
}



.product-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.product-page > img {
  max-width: 320px; 
}
/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
